*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
*.log
*.tmp
*.bak
*.swp
*~
.env
*.keystore
*.jks
!debug.keystore
app/build/
app/release/
app/debug/
apps/web/web/node_modules/
apps/web/web/dist/
apps/web/server/target/
apps/web/server/data/
apps/web/.pack/
packages/start9/node_modules/
packages/start9/javascript/
packages/start9/*.s9pk
